# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List the popular languages that Data Scientists use
- List the commonly used libraries used by Data Scientists
- Show how to evaluate arithmetic expressions in Python

**Some of the popular languages that Data Scientists use are:**
1. Python
2. SQL
3. R

**Some of the commonly used libraries used by Data Scientists include:**
 
 1. TensorFlow
 2. SciPy
 3. NumPy
 4. Pandas
 5. Pytorch

**Data Science Tools**
|Data Science Tools|
|-|
|Jupyter Notebook|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [32]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [36]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60)

3.3333333333333335

## Author
Tunde Rockson